.header {
    background-image: url('../images/dist/header-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    @media(max-width: 895px) {
        background-position: center right;
    }
   
    &__inner {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 100vh;
    }

    &__top {
        padding: 30px 0 79px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        @media(max-width: 895px) {
            padding: 30px 0 30px;
        }
    }

    .menu__list {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;


        &-item:not(:first-child) {
            margin-left: 30px;
            @media(max-width: 895px) {
                margin: 35px 0 0 0;

            }
        }

        &-link {
            text-transform: uppercase;
            font-size: 18px;
            line-height: 1.16;
            transition: color .5s;
            position: relative;
            &::before {
                content: "";
                position: absolute;
                width: 0;
                left: auto;
                right: 0;
                bottom: -7px;
                background-color: $accent;
                height: 2px;
                transition: all .5s;
            }

            &:hover::before {
                width: 100%;
                right: auto;
                left: 0;
            }

            &:hover {
                color: $accent;
            }
        }

        @media(max-width: 895px) {
            position: fixed;
            top: -105%;
            left: 0;
            width: 100%;         
            background-color: $background;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100%;       
            padding: 15px;
            overflow-y: auto;
            opacity: .95;
            @include transition(0.3s);
        }

        &--active {
            @media(max-width: 895px) {
                top: 0;
            }
        }
    }

    .phone {
        font-size: 24px;
        line-height: 1.2;
        margin-left: auto;
        transition: all .5s;
        position: relative;
        &:hover {            
            color: $accent;
        }
        &::before {
            content: "";
            position: absolute;
            width: 0;
            left: auto;
            right: 0;
            bottom: -7px;
            background-color: $accent;
            height: 2px;
            transition: all .5s;
        }

        &:hover::before {
            width: 100%;
            right: auto;
            left: 0;
        }

        @media(max-width: 895px) {
            z-index: 100;
        }
        @media(max-width: 375px) {
            font-size: 21px;
        }

    }

    .login {
        background: transparent;
        border: none;
        margin: 0;
        padding: 0;
        cursor: pointer;
        margin-right: 134px;
        margin-left: 22px;
        @media(max-width: 1024px) {
            margin-right: 0;
        }
        @media(max-width: 895px) {
            z-index: 100;
        }     
    }

    &__content {
        max-width: 600px;
        @media(max-width: 895px) {
            margin: 0 auto;
            text-align: center;
        }
    }

    .content__title {
        font-size: 60px;
        line-height: 1;
        font-family: spaceagecyrillic;
        @media(max-width: 620px) {
            font-size: 34px;
        }
        @media(max-width: 375px) {
            font-size: 28px;
        }

        span {
            font-size: 110px;
            @media(max-width: 620px) {
                font-size: 60px;
                display: block;
            }
            @media(max-width: 375px) {
                font-size: 32px;
            }
        }
    }

    .content__text {
        font-size: 24px;
        margin: 20px 0 49px;
        line-height: 1.2;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        @media(max-width: 620px) {
            justify-content: center;
            font-size: 18px;
        }
        p {
            @media(max-width: 620px) {
                padding: 0 10px;
            }     
        }
    }

    .content__btn {
        font-size: 24px;
        padding: 15px 10px 16px;
        width: 100%;
        @media(max-width: 620px) {
            width: 60%;
            font-size: 18px;
        }
        @media(max-width: 375px) {
            width: 100%;
            font-size: 16px;
        }

    }

    &__description {
        display: flex;
        justify-content: flex-end;
        margin-top: 40px;
        margin-bottom: 5%;
        @media(max-width: 895px) {
            justify-content: center;
        }
        @media(max-width: 620px) {
            display: block;
            text-align: center;
        } 

        p {
            max-width: 164.5px;
            font-size: 14px;
            @media(max-width: 620px) {
                max-width: 100%;
            } 

            &:not(:first-child) {
                margin-left: 52px;
                @media(max-width: 620px) {
                    margin-left: 0;
                    margin-top: 20px;
                } 
            }
        }
    }

    .hamburger {
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 20px;
        left: 15px;
        width: 50px;
        height: 50px;
        background-color: transparent;
        border: 0;
        padding: 0;
        margin: 0;
        transition: transform 250ms ease;
        cursor: pointer;
        z-index: 100;

        @media(max-width: 895px) {
            display: flex;
        }

        & span {
            display: block;
            width: 28px;
            height: 3px;
            border-radius: 2px;
            background-color: $textcolor;
            transform-origin: center center;
            transition: transform 250ms ease;
        }

        & span:nth-of-type(1) {
            transform: translateY(-6px);
        }

        & span:nth-of-type(3) {
            transform: translateY(6px);
        }

        &.is-active {
            span {
                transition: transform 250ms ease;
            }

            span:nth-of-type(1) {
                transform: translateY(0px) rotate(45deg);
            }

            span:nth-of-type(2) {
                display: none;
            }

            span:nth-of-type(3) {
                transform: translateY(-3px) rotate(-45deg);
            }
        }
    }
}
.title {
    padding: 100px 0;
    font-size: 48px;
    line-height: 1;
    font-weight: 400;
    font-family: 'spaceagecyrillic';
    @media(max-width: 640px) {
        padding: 50px 0;
        font-size: 38px;
    }
    @media(max-width: 480px) {
        font-size: 28px;
    }
} 

.about {
    background-image: url('../images/dist/about-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    @media(max-width: 1160px) {
        text-align: center;
    }

    &__content {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-bottom: 150px;
        @media(max-width: 1160px) {
            display: block;
        }
        @media(max-width: 630px) {
            padding-bottom: 50px;
        }

        &:nth-child(odd) {
            flex-direction: row-reverse;
        }
    }

    &__img {
        max-width: 100%;
        @media(max-width: 1160px) {
            margin-bottom: 50px;
        }
    }

    &__info {
        max-width: 600px;
        @media(max-width: 1160px) {
            max-width: 100%;
        }
    }

    .info__title {
        font-size: 30px;
        line-height: 1.2;
        font-weight: 700;
        margin-bottom: 5px;
    }

    .info__subtitle {
        font-size: 12px;
        line-height: 1.16;
        margin-bottom: 30px;
        color: $blue;
        text-transform: uppercase;
    }

    .info__text {
        display: flex;
        justify-content: space-between;
        margin-bottom: 33px;
        @media(max-width: 1160px) {
            display: block;
        }

        p {
            width: 165px;
            @media(max-width: 1160px) {
                width: 100%;
                margin-bottom: 20px;
            }
        }
    }

    &__table {
        margin-bottom: 50px;
        @media(max-width: 1160px) {
            width: 100%;
        }

        &-tr {
            border: 1px solid $textcolor;
            border-left: none;
            border-right: none;
            &:first-child {
                @media(max-width: 630px) {
                    display: none;
                }
            }
        }

        &-td {
            padding: 10px 27px 10px 0;
            @media(max-width: 630px) {
                display: block;
                text-align: right;
                border-bottom: 1px solid $textcolor;
            }
            &:last-child {
                @media(max-width: 630px) {
                    border: none;
                }
            }
            &::before {
                @media(max-width: 630px) {
                    content: attr(arial-label);
                    float: left;
                }
            }

            span {
                font-size: 14px;
                line-height: 1.2;
                display: block;
                @media(max-width: 630px) {
                    display: inline-block;
                }
            }
        }

        &-tr+.about__table-tr {
            font-size: 36px;
            line-height: 1.19;
            font-weight: bold;
            text-align: center;
            @media(max-width: 630px) {
                font-size: 20px;
                font-weight: 400;
            }
        }
    }

    &__btn {
        font-size: 18px;
        line-height: 1.16;
        padding: 20px 45px;
    }

    caption {
        caption-side: bottom;
        text-align: left;
        margin-top: 20px;
        font-size: 12px;
        line-height: 1.16;
        color: $textcolor;
    }
}

.how-to {
    background-image: url('../images/dist/howTo-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    padding-bottom: 100px;
    @media(max-width: 895px) {
        padding-bottom: 50px;
    }

    &__box {
        text-align: center;
        svg {
          @media(max-width: 895px) {
            display: none;
          }  
        }
        &-list {
            display: none;
            @media(max-width: 895px) {
                display: block;
                list-style: none;
                padding-left: 0;
                text-align: left;
            }
        }
        &-item {
           @media(max-width: 895px) {
                padding-bottom: 30px;
                text-align-last: left;
                padding-left: 20px;
                margin-left: 20px;
                position: relative;
                border-left: 1px solid $textcolor;
                line-height: 1.45;
                &::before {
                    content: '';
                    position: absolute;
                    left: -10px;
                    top: 0;
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    background-color: $textcolor;
                }
                &:last-child {
                    border-left: none;
                }
            }
      
        }

        & circle,
        & text,
        & foreignObject {
            transition: all .5s;
            cursor: pointer;
            font-size: 18px;
            line-height: 1.16;
        }

        & g:hover circle {
            r: 20px;
            fill: $blue;
        }

        & g:hover text {
            font-size: 20px;
            line-height: 1.19;
            fill: $blue;
        }

        & g:hover foreignObject {
            font-size: 20px;
            line-height: 1.19;
            color: $blue;
            width: 300px;
            height: 150px;
        }
        & g:hover .down {
            width: 160px;
        }
        & g:hover .left {
            width: 140px;
        }


    }

    foreignObject {
        text-align: left;

        p {
            margin: 0;
        }
    }

}

.to-book {
    background-image: url('../images/dist/toBook-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 100vh;
    @media(max-width: 630px) {
       background-position: top left; 
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        @media(max-width: 1024px) {
            display: block;
        }

    }
    &__title {
        @media(max-width: 480px) {
            font-size: 23px;
        }
    }

    &__text {
        width: 165px;
        font-size: 14px;
        line-height: 1.2;
        margin-top: 100px;
        margin-right: 52px;
        margin-left: auto;
        @media(max-width: 1024px) {
            width: 100%;
            margin: 0 0 30px 0;
        }

        &+.to-book__text {
            margin-right: 0;
            margin-left: 0;
        }
    }
}

.info {
    background-image: url('../images/dist/info-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    padding-bottom: 100px;
    @media(max-width: 720px) {
        padding-bottom: 50px;
    }

    .special-offer {
        &__inner {
            display: flex;
            justify-content: space-between;
            @media(max-width: 1050px) {
                display: block;
            }
        }

        &__item {
            width: 500px;
            @media(max-width: 1050px) {
                width: 100%;
            }

        }
    }

    .item__box {
        border: 1px solid $textcolor;
        padding: 40px 75px;
        margin-bottom: 25px;
        text-align: center;
        min-height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @media(max-width: 480px) {
            padding: 20px 10px;
            min-height: 321px;
        }
    }

    .item__text {
        font-size: 24px;
        line-height: 1.2;
        width: 236px;
        margin: 0 auto;

        span {
            color: $accent;
        }
    }

    .item__btn {
        width: 100%;
        @media(max-width: 1050px) {
            margin-bottom: 20px;
        }
    }

    .price__old {
        text-align: right;
        font-size: 14px;
        line-height: 1.2;
        margin-bottom: 16px;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            width: 68px;
            height: 1px;
            background-color: $accent;
            top: 7px;
            right: 0;
            transform: rotate(15deg)
        }
    }

    .price__new {
        font-size: 48px;
        line-height: 1.19;
        @media(max-width: 480px) {
            font-size: 34px;
        }
    }

}

.services {
    &__inner {
        display: flex;
        justify-content: space-between;
        padding-bottom: 200px;
        @media(max-width: 895px) {
            display: block;
        }
        @media(max-width: 720px) {
            padding-bottom: 50px;
        } 
    }
    &__title {
        @media(max-width: 620px) {
            font-size: 35px;
        }
        @media(max-width: 480px) {
            font-size: 23px;
        }
    }

    &__btn {
        width: 100%;

        &:first-child {
            margin-bottom: 49px;
        }
    }

    &__text {
        font-size: 24px;
        line-height: 1.16;
        margin-bottom: 25px;
    }

    &__list {
        margin: 25px 0;
        list-style: none;
        padding: 0;
        @media(max-width: 895px) {
            width: 100%;
            margin-right: 0;
        }

        &-item {
            padding-left: 36px;
            font-size: 24px;
            line-height: 1.19;
            position: relative;
            @media(max-width: 480px) {
                font-size: 18px;
                line-height: 1.6;
            }

            &::before {
                content: '';
                position: absolute;
                left: 0;
                top: 4px;
                width: 20px;
                height: 20px;
                background-color: $textcolor;
                border-radius: 50%;
            }
        }
    }

    &__price {
        font-size: 12px;
        line-height: 1.16;
        @media(max-width: 895px) {
            margin-bottom: 170px;
        }
    }

    &__buttons {
        width: 500px;
        @media(max-width: 895px) {
            max-width: 500px;
            margin: 0 auto;
            width: 100%;
        }

    }

    .btn-buy {
        position: relative;

        &::before {
            content: url('../images/dist/astronaut.png');
            width: 192px;
            position: absolute;
            right: 0;
            bottom: 36px;
            @media(max-width: 341px) {
                bottom: 57px;
            }
        }
    }
}

.slider {
    text-align: center;
    &__inner {       
        margin-bottom: 50px;
        border: 1px solid $textcolor;
        padding: 100px 0;
        @media(max-width: 720px) {
            padding: 0;
        } 
    }

    &__description {
        font-size: 24px;
        line-height: 1.25;
        font-family: spaceagecyrillic;
        @media(max-width: 720px) {
            font-size: 18px;
        }
    }
    &__box-img {
        margin: 0 auto;

    }
    &__arrow {
        cursor: pointer;
        position: absolute;
        top: 50%;
        z-index: 5;
        &-left {
            left: 75px;
        }
        &-right {
            right   : 75px;
        }
    }
    .slick-slider {
        img {
            @media(max-width: 895px) {
                max-width: 100%;
            } 
        }
    }
}
.contacts {
    background-color: $background;
    padding-bottom: 100px;
    &__inner {
        display: flex;
        justify-content: space-between;
        @media(max-width: 1050px) {
            display: block;
        }
    }
    &__box {
        width: 500px;
        @media(max-width: 1050px) {
            width: 100%;
        }
        &-text {
            font-size: 24px;
            line-height: 1.2;
            margin-bottom: 80px;
        }
    }
    &__title {
        padding-bottom: 46px;
    }
    &__form-input {
        background-color: $background;
        border: none;
        border-bottom: 1px solid $textcolor;
        margin-bottom: 30px;
        color: $textcolor;
        font-size: 14px;
        line-height: 1.21;
        padding: 20px 0;
        width: 100%;
        &::placeholder {
            color: $textcolor;
            font-size: 14px;
            line-height: 1.21;
        }
    }
    &__btn {
        width: 100%;
        margin-top: 70px;
    }
    &__guarantees {
        width: 500px;
        @media(max-width: 1050px) {
            margin: 0 auto;
        }
        @media(max-width: 620px) {
            width: 100%;
        }
        &-text {
            font-size: 24px;
            line-height: 1.2;
            @media(max-width: 480px) {
                font-size: 20px;
            }
        }
        &-img {
            display: flex;
            justify-content: flex-end;
            margin-left: auto;
            @media(max-width: 620px) {
                max-width: 100%;
            }
        }
    }

}

.footer {
    background-image: url('../images/dist/footer-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    padding: 100px 0 150px;
    @media(max-width: 570px) {
        text-align: center;
        padding-bottom: 50px;
    }

    &__inner {
        display: flex;
        justify-content: flex-end;
        @media(max-width: 570px) {
            display: block;
        }
       
    }
    &__text {
        width: 165px;
        margin-right: 50px;
        line-height: 1.12;
        @media(max-width: 570px) {
            width: 100%;
            margin-right: 0;
        }
        p + p {
            margin-top: 50px;
            @media(max-width: 570px) {
                margin-top: 10px;
                margin-bottom: 30px;
            }
        }
    }
    &__menu {
        list-style: none;
        width: 120px;
        margin-right: 95px;
        padding: 0;
         @media(max-width: 570px) {
            margin-right: 0;
            width: 100%;
            margin-bottom: 50px;
        }
    }
    
    &__links {
        list-style: none;
        width: 165px;
        padding: 0;
        @media(max-width: 570px) {
            margin-right: 0;
            width: 100%;
        }
    }

    &__menu-item,
    &__links-item {
        margin-bottom: 20px;
        line-height: 1.19;
    }

    &__menu-link,
    &__links-link {
        text-transform: uppercase;
        transition: color .5s;
        &:hover {
            color: $accent;
        }

    }

    #scrollToTopBtn {
        background: $textcolor;
        border: none;
        border-radius: 50%;
        cursor: pointer;
        width: 45px;
        height: 45px;
        position: fixed;
        bottom: 27px;
        right: 25px;
        position: fixed;
        visibility: visible;
        transition: all .3s ease;
        z-index: 100;

        &.btn-top {
            opacity: 1;
            &__hide {
                opacity: 0;
            }
        }

        i {
            font-size: 20px;
            transition: all .5s ease;
            &:hover {
                color: $accent;
            }
        }
    }
}